body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
  }
  
  .login {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .login_form {
    display: flex;
    flex-direction: column;
  }
  
  .login_form input {
    margin-bottom: 15px;
    padding: 12px;
    border: none;
    background-color: #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .login_form .login-button {
    background-color: #217542;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .login_form .login-button:hover {
    background-color: #154d2b;
  }
  
  .links {
    margin-top: 10px;
    text-align: center;
  }
  
  .links a {
    color: #777;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
  .links a:hover {
    color: #333;
  }
  
  .pw_container {
    position: relative;
  }
  
  .pw_toggle {
    position: absolute;
    top: 35%;
    right: 13px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .login_form .password {
    width: 82%;
  }
  .pw_toggle i {
    color: #777;
  }
  
  .pw_toggle:hover i {
    color: #333;
  }
  
  .Logo {
    width: 70px;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
  }