/* --------------기본 세팅 ---------- */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    background-color: #a3a3a3;
}
/*     위쪽 로고부분     */
.login-logo {
    margin-left:48%;
    margin-top:5%;
  }
.login-logo img{
    width:6vw;
    height: 7vw; 
}
  
    

/*     id and pw    */
.login-form {
    border:4px solid #FFFFFF;
    width:34vw;
    height: 30vw;
    margin-left:35%;
    border-radius: 15px 10px;
    background-color:#fff;
}

.login-border{  
    border:0px solid #FFFFFF;
    background-color:#fff;

}
.inform{
    list-style:none;
    margin-left:20%;
    padding-top: 8%;
    background-color:#fff;
}
.inform label{
    background-color:#fff;
}
.login-ID{
    width: 260px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom : 3px solid black;
    background-color:#fff;
}
.login-pw{
    width: 260px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom : 3px solid black;
    background-color:#fff;
}

/*       add      */
.add{
    list-style:none;
    background-color:#fff;
}
.add li{
    float: left;
    margin-left: 23%;
}
.add li a{
    text-decoration: none; 
    color: black;
    
}




/*     버튼     */
.login-btn{
    margin-left: 20%;
    margin-top: 50%;
    border-radius: 20px;
    width:22svw;
    height: 3vw;
    background-color: #217542;
}

/*     공용푸터     */